<div class="col-md-12" ng-controller="honeywellTotalConnectConfigController">
    <div class="alert alert-danger" ng-show="configErrors.length > 0">
        <div ng-repeat="error in configErrors track by $index">{{error}}</div>
    </div>
    <div class="form-group" validation-status="validation.username">
        <label for="apiKey">Username:</label>
        <input type="text" class="form-control" ng-model="config.username" required>
    </div>
    <div class="form-group" validation-status="validation.password">
        <label for="password">Password:</label>
        <input type="password" class="form-control" ng-model="config.password" required>
    </div>
    <button class="btn btn-primary" ng-click="login()">Login</button>
    <div class="form-group" validation-status="validation.thermostat" ng-show="loggedIn">
        <label for="Thermostat">Thermostat: </label>
        <select ng-model="config.thermostat" class="form-control"
                ng-options="item as item.name for item in availableThermostats" required>
        </select>
    </div>


</div>
